<!DOCTYPE html>
html(lang="cs")
  include /head.pug
  .page-home
    section
      h1.page-title DevTips<br>Starter Kit
      p Ground zero for your next project.
      a.button.button-download(href="https://github.com/DevTips/DevTips-Starter-Kit/archive/master.zip") Download Now
      a.fork-tag(href="https://github.com/DevTips/DevTips-Starter-Kit") Fork Me on GitHub
    section
      article
        h4 Watch the Video
        .flex-video-wrap
          .flex-video
            iframe(src="https://www.youtube.com/embed/F3u7whqIxrc?rel=0&amp;controls=0&amp;showinfo=0", frameborder="0", allowfullscreen="true")
      article
        h3 Profil Společnosti
          strong Cone, a.s.
        p.bold
        ul
          li Firma
            strong vznikla v roce 1991
            jako s.r.o.
          li V roce 1997 transformace - dále jako akciová společnost.
          li Patříme mezi
            strong stabilizované dopravní firmy Moravskoslezského kraje.
          li Zabezpečení kvality mimo jiné podporuje moderní vozový park a pravidelně školený personál na všech úrovních.
          li V současné době má CONE – DOPRAVA, a.s. 70 zaměstnanců a vozový park tvoří 50 návěsových souprav.

          img.avatar(src="https://yt3.ggpht.com/-47U43a3eNW0/AAAAAAAAAAI/AAAAAAAAAAA/fWgb7mKcn6k/s176-c-k-no/photo.jpg")
          .name
            strong Travis Neilson
            br
            a(href="https://twitter.com/DevTipsShow") @DevTipsShow
    pre
      PROFIL SPOLEČNOSTI
    footer.l-footer
      div.l-footer__references

      div.l-footer__dark
        a.c-footer__copyright(href="https://www.webdevel.cz/") webdevel.
  <!-- script(src="./vendors/jquery/dist/jquery.min.js") -->
  <!-- script(src="./assets/js/app.js") -->
  include assets
